@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Noto+Serif&display=swap');

@import url('components/container.css');

@import url('components/banner.css');

@import url('components/button.css');

@import url('components/cards.css');


body{ 
	font-family: 'Noto Serif', serif;
	font-size: 18px;
	margin: 0px;
	background: #f2ebe5;
 }

 h1,h2,h3 {
 	font-family: 'Fira Sans', sans-serif;
 	font-weight: bold;
 }

 @media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}
