.card {
 	display: flex;
 	align-items: center;
 	justify-content: space-between;
	border-radius: 4px;
	margin: 10px;
	box-shadow: 0 10px 30px rgba(0,0,0,0.2);
	background: white;
	padding: 30px; 
	flex-grow: 1;
	flex-basis: 250px;
	font-size: 18px;
}
.card img {
  width: 150px;
  border-radius: 6px;
}
.card h3 {
  flex-grow: 1;
  padding-left: 20px;
}
.cards {
	display: flex;
	flex-wrap: wrap;
}
